<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Dest</th>
      <th>Leave on</th>
      <th>Return on</th>
      <th>Travel type</th>
      <th>Num passengers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.origin %></td>
        <td><%= trip.dest %></td>
        <td><%= trip.leave_on %></td>
        <td><%= trip.return_on %></td>
        <td><%= trip.travel_type %></td>
        <td><%= trip.num_passengers %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
